.btn-main {
  background-color: #a90329;
  color: #fff;
  padding: 10px 15px;

  transition: background-color 0.3s;
}

.btn-main:hover {
  text-decoration: none;
  color: #fff;
  background-color: #6d0019;
}
