<div class='navbar text-center navbar-fixed'>
  <%= link_to "Presto", restaurants_path, { class: "navbar-header link-style-none" } %>

  <!-- <a href="#" onclick="scrollToRestaurants()">Browse restaurants<br>v</a> -->
</div>
